/* DON'T TOUCH THIS! */
html, body {
    margin: 0;
    padding: 0;
}
/* DON'T TOUCH THIS! */

p {  text-align: center; }
h1 {text-align: center;  text-transform: uppercase;}
div {text-align: center; }
.title {font-size: 4em; color : #174885 }
.section-title {font-size: 3em;color : #3278cf}
body {
  font-family: 'Roboto', sans-serif;
  margin:10%;
}

/* Your main goal is to style and improve the HTML given to you. You have to center all the text on the page & set the font to Roboto, capitalize all the titles, give the main title a font size of 4em and the section titles a size of 3em, and give all the sections an overall margin of 10% of the height of the page. The section titles must have a color of #3278cf, while the main title must have a color of #174885. Good luck! */